.demonstrate-directionality {
  max-height: 15rem;
}
.demonstrate-directionality span {
  opacity: 0;
  animation: fade-in 2s forwards;
  animation-delay: 1s;
}
.demonstrate-directionality span:nth-child(1) { animation-delay: 100ms; }
.demonstrate-directionality span:nth-child(2) { animation-delay: 200ms; }
.demonstrate-directionality span:nth-child(3) { animation-delay: 300ms; }
.demonstrate-directionality span:nth-child(4) { animation-delay: 400ms; }
.demonstrate-directionality span:nth-child(5) { animation-delay: 500ms; }
.demonstrate-directionality span:nth-child(6) { animation-delay: 600ms; }
.demonstrate-directionality span:nth-child(7) { animation-delay: 700ms; }
.demonstrate-directionality span:nth-child(8) { animation-delay: 800ms; }
.demonstrate-directionality span:nth-child(9) { animation-delay: 900ms; }
.demonstrate-directionality span:nth-child(10) { animation-delay: 1000ms; }
.demonstrate-directionality span:nth-child(11) { animation-delay: 1100ms; }
.demonstrate-directionality span:nth-child(12) { animation-delay: 1200ms; }
.demonstrate-directionality span:nth-child(13) { animation-delay: 1300ms; }
.demonstrate-directionality span:nth-child(14) { animation-delay: 1400ms; }
.demonstrate-directionality span:nth-child(15) { animation-delay: 1500ms; }
.demonstrate-directionality span:nth-child(16) { animation-delay: 1600ms; }
.demonstrate-directionality span:nth-child(17) { animation-delay: 1700ms; }
.demonstrate-directionality span:nth-child(18) { animation-delay: 1800ms; }
.demonstrate-directionality span:nth-child(19) { animation-delay: 1900ms; }
.demonstrate-directionality span:nth-child(20) { animation-delay: 2000ms; }
.demonstrate-directionality span:nth-child(21) { animation-delay: 2100ms; }

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
